In [1]:
from datetime import date, datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as pdr

start_date = '2010-11-30'
end_date = '2022-11-30'

In [3]:
UNHdf = pdr.get_data_yahoo('UNH', start_date, end_date)
display(UNHdf.head())

HUMdf = pdr.get_data_yahoo('HUM', start_date, end_date)
display(HUMdf.head())

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-11-30  36.320000  36.980000  36.040001  36.520000  30.360952  12039400
2010-12-01  37.139999  37.900002  37.139999  37.669998  31.317013  11012000
2010-12-02  37.680000  38.060001  37.639999  38.049999  31.632925   8600200
2010-12-03  37.709999  37.980000  37.380001  37.820000  31.545355   5383200
2010-12-06  37.669998  37.880001  37.240002  37.290001  31.103283   5179900

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2010-11-30  56.090000  56.250000  55.430000  56.040001  50.810875  2318400
2010-12-01  56.900002  57.810001  56.860001  57.090000  51.762886  1753800
2010-12-02  57.110001  57.540001  56.840000  57.470001  52.107430  1504300
2010-12-03  56.959999  57.419998  56.639999  57.040001  51.717541  1390300
2010-12-06  57.040001  57.299999  56.400002  56.410000  51.146343   863000

In [4]:
AAPLdf = pdr.get_data_yahoo('AAPL', start_date, end_date)
display(AAPLdf.head())

AMZNdf = pdr.get_data_yahoo('AMZN', start_date, end_date)
display(AMZNdf.head())

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-11-30  11.197857  11.227143  11.102500  11.112500   9.472492  501858000
2010-12-01  11.259643  11.348214  11.250000  11.300000   9.632324  461750800
2010-12-02  11.340357  11.392857  11.246071  11.362500   9.685598  462837200
2010-12-03  11.321786  11.380357  11.297857  11.337143   9.663982  342092800
2010-12-06  11.380000  11.511786  11.372143  11.433929   9.746488  448481600

[*********************100%***********************]  1 of 1 completed

              Open    High     Low   Close  Adj Close     Volume
Date
2010-11-30  8.8475  8.8850  8.7450  8.7700     8.7700  135244000
2010-12-01  8.9580  8.9660  8.8000  8.8275     8.8275  115402000
2010-12-02  8.8430  8.8725  8.6960  8.8265     8.8265  110752000
2010-12-03  8.7750  8.8200  8.7025  8.7840     8.7840   98150000
2010-12-06  8.7760  8.9215  8.7300  8.9025     8.9025  113084000

In [7]:
RMAXdf = pdr.get_data_yahoo('RMAX', start_date, end_date)
display(RMAXdf.head())

PLDdf = pdr.get_data_yahoo('PLD', start_date, end_date)
display(PLDdf.head())

[*********************100%***********************]  1 of 1 completed

                 Open       High    Low      Close  Adj Close    Volume
Date
2013-10-02  26.250000  27.969999  25.40  27.000000  21.417440  13845300
2013-10-03  27.129999  31.080000  27.00  30.209999  23.963747   2456400
2013-10-04  30.920000  33.540001  30.40  31.650000  25.106003   1998100
2013-10-07  31.100000  31.420000  30.02  30.830000  24.455544    460400
2013-10-08  30.510000  30.639999  28.08  28.500000  22.607304   1101700

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2010-11-30  28.959999  29.450001  28.930000  29.190001  20.148075  2017900
2010-12-01  29.670000  29.760000  29.320000  29.639999  20.458675  2052600
2010-12-02  29.719999  30.530001  29.639999  30.490000  21.045372  1273500
2010-12-03  30.340000  30.809999  30.190001  30.760000  21.231745  1547500
2010-12-06  30.750000  31.540001  30.510000  31.320000  21.618280  2195900