In [3]:
from datetime import date, datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)
from pandas_datareader import data as pdr

start_date = '2010-11-30'
end_date = '2022-11-30'

UNHdf = pdr.get_data_yahoo('UNH', start_date, end_date) 

UNHdf.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-11-30  36.320000  36.980000  36.040001  36.520000  30.360960  12039400
2010-12-01  37.139999  37.900002  37.139999  37.669998  31.317019  11012000
2010-12-02  37.680000  38.060001  37.639999  38.049999  31.632935   8600200
2010-12-03  37.709999  37.980000  37.380001  37.820000  31.545351   5383200
2010-12-06  37.669998  37.880001  37.240002  37.290001  31.103279   5179900